<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aprilz.tiny.mapper.ApCouponMapper">
    <select id="queryAvailableList" resultType="com.aprilz.tiny.mbg.entity.ApCoupon">
        select t.*
        from ap_coupon t
        where t.status = 0
          and t.delete_flag = false
          and t.type = 0
          and t.id not in (select u.coupon_id from `ap_coupon_user` u where u.user_id = #{userId})
        order by t.create_time desc limit 3

    </select>
</mapper>
