<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aprilz.tiny.mapper.FileInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aprilz.tiny.entity.FileInfo">
        <id column="id" property="id" />
        <result column="filename" property="filename" />
        <result column="total_size" property="totalSize" />
        <result column="identifier" property="identifier" />
        <result column="type" property="type" />
        <result column="location" property="location" />
    </resultMap>
    <select id="getCount" resultType="java.lang.Integer">
        select 2 from dual
    </select>


</mapper>
